.about {
    width: 100%;
    height: fit-content;
}

.about section {
    height: 60vh;
}

.about .section1, .about .section2, .about .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about .section1 h1, h3{
    color: blue;
}

.about .section1 p, .about .section2 p, .about .section3 p{
    font-size: large;
    text-align: center;
    width: 80%;
}

