/* */

.auth {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.mini-section h1 {
    color: blue;
}

form {
    background: linear-gradient(45deg, rgb(0, 15, 40), blue);
    height: 500px;
    width: 80%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.form-group {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    color: white;
    font-size: large;
}

.form-group input {
    font-size: large;
    padding: 12px;
    border-radius: 12px;
}

form p {
    color: white;
    font-size: large;
}
form p a {
    color: aqua;
    text-decoration: none;
}

form button {
    color: black;
    padding: 8px;
    font-size: large;
}