* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    background: white;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 10vh;
}
.logo h2 {
    color: blue;
    font-size: large;
}

ul.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

ul.links li {
    list-style: none;

}
ul.links li a {
    color: black;
    text-decoration: none;
}
ul.links li a:hover {
    color: blue;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: large;
}