<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkillChain main app</title>
  <link rel="stylesheet" href="/src/public/styles/base/main.css">
  <script src="https://kit.fontawesome.com/a1ae1ba1c7.js" crossorigin="anonymous"></script>
</head>
<body>
  

<div id="app">
  
</div> <!-- All pages will load here -->


<script src="/src/public/scripts/UI/components.js"></script>
<script src="/src/public/scripts/ui/ui.js"></script>

<script src="/src/public/scripts/authentication/auth.js"></script>
<script src="/src/public/scripts/core/storage.js"></script>
<script src="/src/public/scripts/base/core.js"></script>

</body>
</html>