<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SkillChain – About</title>
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/about.css">
</head>

<body>
  <!-- ====== NAV BAR =========-->
  <section class="navbar" id="navbar">

    <div class="logo">
      <!-- <img src="/src/public/images/logo.png" alt="" /> -->
      <h2>SkillChain</h2>
    </div>

    <ul class="links">
      <!-- <h4>Main</h4> -->
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/support">Contact</a>
      </li>
      <li><a href="/activity">Activity</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/signup">Register</a></li>
    </ul>
  </section>
  <hr>
  <section class="about">

    <section class="section1">
      <h1>About SkillChain</h1>
      <p>
        SkillChain is a student-driven learning platform designed to improve high
        school education through collaboration and technology.
      </p>
    </section>
    <hr>
    <section class="section2">
      <h3>Our Story</h3>
      <p>
        SkillChain was created by students who wanted better ways to learn, share,
        and support each other academically.
      </p>
    </section>
    <hr>
    <section class="section3">
      <h3>Our Vision</h3>
      <p>
        A world where students learn together, freely share knowledge, and grow
        beyond classroom limitations.
      </p>
    </section>

  </section>


</body>

</html>